* {
    margin: 0;
    padding: 0;
}
.container {
    margin: auto;
    max-width: 600px;
}

.done {
    text-decoration: line-through;
}

ul {
    list-style: none;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding: 15px;
    width: 100%;
    margin-top: 15px;
}

.card {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.536); 
}